aiohappyeyeballs==2.4.0
aiohttp==3.10.6
aiosignal==1.3.1
android==1.0
arrow==1.3.0
asgiref==3.8.1
astroid==2.15.8
attrs==24.2.0
audiostream==0.2
beautifulsoup4==4.12.3
binaryornot==0.4.4
blinker==1.8.2
boto3==1.34.148
botocore==1.34.148
briefcase==0.3.19
build==1.2.2
buildozer==1.5.0
cachetools==5.4.0
certifi==2024.7.4
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
cmake @ file:///home/n0n3m4/Desktop/Pydroid/zBuildPrepared/cmake-3.26.4-py3-none-any.whl#sha256=695389dbf5c0aa220776821172e2f03865e0fe9ba10d7459373597d21af6643e
cookiecutter==2.6.0
DateTime==5.5
decorator==4.4.2
dill==0.3.7
distlib==0.3.8
distro==1.8.0
Django==5.1.4
docutils==0.21.2
ezdxf==1.3.5
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.15.4
Flask==3.0.3
fonttools==4.55.3
frozenlist==1.4.1
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.1
google-auth==2.32.0
google-cloud-texttospeech==2.16.4
googleapis-common-protos==1.63.2
googletrans==3.0.0
grpcio==1.56.0
grpcio-status==1.56.0
gTTS==2.5.2
gunicorn==23.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.7.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageio==2.34.2
imageio-ffmpeg==0.5.1
isort==5.12.0
itsdangerous==2.2.0
jason==0.1.7
jedi==0.19.0
Jinja2==3.1.4
jmespath==1.0.1
Kivy==2.2.1
kivymd==1.2.0
lazy-object-proxy==0.0.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
moviepy==1.0.3
multidict==6.1.0
ninja @ file:///home/n0n3m4/Desktop/Pydroid/zBuildPrepared/ninja-1.11.1-py3-none-any.whl#sha256=bde2ef34b4295ff07a0c1703ce5c7f3acccd621a91b21d4c6aaf09bd8f6591a8
numpy==1.26.1
packaging==23.1
parso==0.8.3
pexpect==4.9.0
Pillow==10.0.1
pkg==0.2
pkgconfig==1.5.5
platformdirs==3.10.0
playsound==1.3.0
proglog==0.1.10
proto-plus==1.24.0
protobuf==5.27.2
psutil==5.9.8
ptyprocess==0.7.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybind11==2.11.1
pycparser==2.21
pydub==0.25.1
pygame==2.5.0
Pygments==2.18.0
pyjnius==1.5.0
pylint==2.17.5
pyngrok==7.2.3
pyparsing==3.2.1
pyproject_hooks==1.1.0
PySDL2==0.9.15
pysrt==1.1.2
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.2
reportlab==4.2.4
requests==2.32.3
rfc3986==1.5.0
rich==13.8.1
rsa==4.9
s3transfer==0.10.2
scikit-build==0.17.6
scipy==1.11.2
sh==2.0.7
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
sqlparse==0.5.3
srt==3.5.3
telepot==12.7
text-unidecode==1.3
tomli_w==1.0.0
tomlkit==0.12.1
tqdm==4.66.4
translator==0.0.9
typed-ast==1.5.5
types-python-dateutil==2.9.0.20240906
typing_extensions==4.12.2
urllib3==2.2.2
virtualenv==20.26.3
Werkzeug==3.0.4
wrapt==1.15.0
yarl==1.12.1
zope.interface==7.0.3
